<div class="container_chart container_chart_$recordsetCount">
<img class="chart_image chart_image_$recordsetCount" src="${imageFileName}" style="width:${chart.width}px;heigth:${chart.height}px;"/>
</div>
