<html>
	<head>
		<style type="text/css">
			@page { 
				size: 4.18in 6.88in;
				margin: 0.25in; 
				padding: 1em;
				background-repeat: no-repeat;
				-fs-table-pagination:paginate;
				@top-center {
					content: element(header); 
					background-color: #c61a1f;
				}
			}
			div.header {
				position: running(header);
				background-color: c61a1f;
				color:white;
			}
			table.table_header_paginate{
			 	-fs-table-paginate:paginate;
			 }
		</style>
	</head>
	<body >
	<div class="header" > ESSE e o PAGE HEADER</div>
	<table class="recordset table_header_paginate recordset_DynamicTimeLine recorset_0 ">
			<thead>
			<tr>
							<th class="DATE">OrderDate</th>
							<th class="DOUBLE">SumFreight</th>
							<th class="DOUBLE">AvgFreight</th>
			</tr>
						</thead>
			<tbody>
				<tr class="rowtype1">
					<td class="DATE">01/07/1996</td>
					<td class="DOUBLE">141,08</td>
					<td class="DOUBLE">70,54</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">02/07/1996</td>
					<td class="DOUBLE">98,03</td>
					<td class="DOUBLE">98,03</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">04/07/1996</td>
					<td class="DOUBLE">108,45</td>
					<td class="DOUBLE">54,225</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">05/07/1996</td>
					<td class="DOUBLE">17,62</td>
					<td class="DOUBLE">8,81</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">08/07/1996</td>
					<td class="DOUBLE">147,94</td>
					<td class="DOUBLE">36,985</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">09/07/1996</td>
					<td class="DOUBLE">177,07</td>
					<td class="DOUBLE">88,535</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">11/07/1996</td>
					<td class="DOUBLE">81,15</td>
					<td class="DOUBLE">40,575</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">12/07/1996</td>
					<td class="DOUBLE">266,85</td>
					<td class="DOUBLE">88,95</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">14/07/1996</td>
					<td class="DOUBLE">11,92</td>
					<td class="DOUBLE">5,96</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">15/07/1996</td>
					<td class="DOUBLE">26,66</td>
					<td class="DOUBLE">13,33</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">16/07/1996</td>
					<td class="DOUBLE">166,72</td>
					<td class="DOUBLE">83,36</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">17/07/1996</td>
					<td class="DOUBLE">140,51</td>
					<td class="DOUBLE">140,51</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">18/07/1996</td>
					<td class="DOUBLE">3,25</td>
					<td class="DOUBLE">3,25</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">19/07/1996</td>
					<td class="DOUBLE">134,7</td>
					<td class="DOUBLE">44,9</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">20/07/1996</td>
					<td class="DOUBLE">76,83</td>
					<td class="DOUBLE">76,83</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">21/07/1996</td>
					<td class="DOUBLE">229,24</td>
					<td class="DOUBLE">229,24</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">22/07/1996</td>
					<td class="DOUBLE">61,05</td>
					<td class="DOUBLE">30,525</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">23/07/1996</td>
					<td class="DOUBLE">153,51</td>
					<td class="DOUBLE">76,755</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">24/07/1996</td>
					<td class="DOUBLE">3,67</td>
					<td class="DOUBLE">3,67</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">25/07/1996</td>
					<td class="DOUBLE">55,28</td>
					<td class="DOUBLE">55,28</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">26/07/1996</td>
					<td class="DOUBLE">48,5</td>
					<td class="DOUBLE">24,25</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">27/07/1996</td>
					<td class="DOUBLE">86,1</td>
					<td class="DOUBLE">43,05</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">28/07/1996</td>
					<td class="DOUBLE">1,35</td>
					<td class="DOUBLE">1,35</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">29/07/1996</td>
					<td class="DOUBLE">229,76</td>
					<td class="DOUBLE">114,88</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">30/07/1996</td>
					<td class="DOUBLE">213,55</td>
					<td class="DOUBLE">106,775</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">31/07/1996</td>
					<td class="DOUBLE">4,56</td>
					<td class="DOUBLE">4,56</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">02/09/1996</td>
					<td class="DOUBLE">1,15</td>
					<td class="DOUBLE">1,15</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">03/09/1996</td>
					<td class="DOUBLE">0,12</td>
					<td class="DOUBLE">0,12</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">04/09/1996</td>
					<td class="DOUBLE">5,74</td>
					<td class="DOUBLE">5,74</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">05/09/1996</td>
					<td class="DOUBLE">168,22</td>
					<td class="DOUBLE">168,22</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">06/09/1996</td>
					<td class="DOUBLE">29,76</td>
					<td class="DOUBLE">29,76</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">09/09/1996</td>
					<td class="DOUBLE">62,76</td>
					<td class="DOUBLE">31,38</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">10/09/1996</td>
					<td class="DOUBLE">6,27</td>
					<td class="DOUBLE">6,27</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">11/09/1996</td>
					<td class="DOUBLE">107,83</td>
					<td class="DOUBLE">107,83</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">12/09/1996</td>
					<td class="DOUBLE">63,79</td>
					<td class="DOUBLE">63,79</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">13/09/1996</td>
					<td class="DOUBLE">257,62</td>
					<td class="DOUBLE">257,62</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">16/09/1996</td>
					<td class="DOUBLE">7,56</td>
					<td class="DOUBLE">7,56</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">17/09/1996</td>
					<td class="DOUBLE">0,56</td>
					<td class="DOUBLE">0,56</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">18/09/1996</td>
					<td class="DOUBLE">1,61</td>
					<td class="DOUBLE">1,61</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">19/09/1996</td>
					<td class="DOUBLE">47,3</td>
					<td class="DOUBLE">47,3</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">20/09/1996</td>
					<td class="DOUBLE">42,21</td>
					<td class="DOUBLE">21,105</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">23/09/1996</td>
					<td class="DOUBLE">40,26</td>
					<td class="DOUBLE">40,26</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">24/09/1996</td>
					<td class="DOUBLE">1,96</td>
					<td class="DOUBLE">1,96</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">25/09/1996</td>
					<td class="DOUBLE">74,16</td>
					<td class="DOUBLE">74,16</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">26/09/1996</td>
					<td class="DOUBLE">41,76</td>
					<td class="DOUBLE">41,76</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">27/09/1996</td>
					<td class="DOUBLE">150,15</td>
					<td class="DOUBLE">150,15</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">30/09/1996</td>
					<td class="DOUBLE">12,69</td>
					<td class="DOUBLE">12,69</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">01/10/1996</td>
					<td class="DOUBLE">4,73</td>
					<td class="DOUBLE">4,73</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">02/10/1996</td>
					<td class="DOUBLE">64,5</td>
					<td class="DOUBLE">64,5</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">03/10/1996</td>
					<td class="DOUBLE">38</td>
					<td class="DOUBLE">19</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">04/10/1996</td>
					<td class="DOUBLE">0,4</td>
					<td class="DOUBLE">0,4</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">07/10/1996</td>
					<td class="DOUBLE">4,88</td>
					<td class="DOUBLE">4,88</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">08/10/1996</td>
					<td class="DOUBLE">214,27</td>
					<td class="DOUBLE">214,27</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">09/10/1996</td>
					<td class="DOUBLE">64,86</td>
					<td class="DOUBLE">64,86</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">10/10/1996</td>
					<td class="DOUBLE">77,92</td>
					<td class="DOUBLE">77,92</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">11/10/1996</td>
					<td class="DOUBLE">63,36</td>
					<td class="DOUBLE">63,36</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">14/10/1996</td>
					<td class="DOUBLE">87,03</td>
					<td class="DOUBLE">87,03</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">15/10/1996</td>
					<td class="DOUBLE">191,67</td>
					<td class="DOUBLE">191,67</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">16/10/1996</td>
					<td class="DOUBLE">22,94</td>
					<td class="DOUBLE">11,47</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">17/10/1996</td>
					<td class="DOUBLE">52,84</td>
					<td class="DOUBLE">52,84</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">18/10/1996</td>
					<td class="DOUBLE">0,59</td>
					<td class="DOUBLE">0,59</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">21/10/1996</td>
					<td class="DOUBLE">8,56</td>
					<td class="DOUBLE">8,56</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">22/10/1996</td>
					<td class="DOUBLE">42,11</td>
					<td class="DOUBLE">42,11</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">23/10/1996</td>
					<td class="DOUBLE">15,51</td>
					<td class="DOUBLE">15,51</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">24/10/1996</td>
					<td class="DOUBLE">108,26</td>
					<td class="DOUBLE">108,26</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">25/10/1996</td>
					<td class="DOUBLE">84,21</td>
					<td class="DOUBLE">84,21</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">28/10/1996</td>
					<td class="DOUBLE">15,66</td>
					<td class="DOUBLE">15,66</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">29/10/1996</td>
					<td class="DOUBLE">193,09</td>
					<td class="DOUBLE">96,545</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">30/10/1996</td>
					<td class="DOUBLE">54,83</td>
					<td class="DOUBLE">54,83</td>
				</tr>
	
				<tr class="rowtype0">
					<td class="DATE">31/10/1996</td>
					<td class="DOUBLE">110,37</td>
					<td class="DOUBLE">110,37</td>
				</tr>
	
				<tr class="rowtype1">
					<td class="DATE">01/11/1996</td>
					<td class="DOUBLE">23,29</td>
					<td class="DOUBLE">23,29</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>